@model List<SteamProject.ViewModels.GameVM>
@{
    ViewData["Title"] = "Admin - Load Game Info";
}
<br>
<div class="container">
    <main role="main" class="pb-3">
        @Html.Partial("AdminNavigation")
    </main>
</div>
@{
    if(Model == null)
    {
        <h1>@ViewBag.MyString</h1>
    }
    else if(Model.Count() > 0)
    {
        <div class="row">
                <table class="table">
                    <h1>Games added</h1>
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Steam App Id
                            </th>
                            <th>
                                Genres
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach(var game in Model)
                            {
                                <tr>
                                    <td>
                                        @game._game.Name
                                    </td>
                                    <td>
                                        @game._appId
                                    </td>
                                    <td>
                                        @game._game.Genres
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
        </div>
    }
    else
    {
        <h1>All of the games in the server library have bulk info already loaded.</h1>
    }
}