@model SteamProject.ViewModels.AdminUsersVM
@{
    ViewData["Title"] = "Admin - Site Users";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Identity.css" asp-append-version="true">
</head>
<div class="container">
    <main role="main" class="pb-3">
        <h1>Site-wide User List</h1>
        <h2>Mange Users</h2>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.steamUsers.First().AspNetUserId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.steamUsers.First().SteamName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.steamUsers.First().SteamId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var user in Model.steamUsers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => user.AspNetUserId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.SteamName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.SteamId)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </main>
</div>