<style>
    td {
        padding-bottom: 20px;
    }
</style>
<div class="col-md-2">
    <table>
        <tr>
            <td><a id="users" href='@Url.Action("ShowAllUsers", "Admin")'>View User List</a></td>
        </tr>
        <tr>
            <td><a id="load" href='@Url.Action("LoadGames", "Admin")'>Preload Game List</a></td>
        </tr>
        <tr>
            <td><a id="load" href='@Url.Action("LoadGameInfo", "Admin")'>Load Info For Game List</a></td>
        </tr>
        <tr>
            <td><a id="load" href='@Url.Action("ViewGames", "Admin")'>View Game List</a></td>
        </tr>
        <tr>
            <td><a id="load" href='@Url.Action("ViewBannedIds", "Admin")'>View Banned Ids</a></td>
        </tr>
        <tr>
            <td><a id="load" href='@Url.Action("ValidateRuns", "Admin")'>Validate Speed Runs</a></td>
        </tr>
    </table>
</div>