@model SteamProject.Models.User
@{
    ViewData["Title"] = "Game Library";
}

@if (Model.SteamId == null)
{
    <h1>This will be your library page once you sign in with a linked account.</h1>
}
else
{
    <div class="row" style="background: #002424"></div>
        <h1>@Model.SteamName's Steam Library</h1>
        <row>
            <img src="@Model.AvatarUrl"/>
        </row>
    <div class="col-md">   
    @foreach(var game in Model.Games)
    { 
        <div class="row">
            <div class="games">
                <ul>
                    <li class="gameList"; style="font-weight: bold">@game.Name</li>
                    <li class="gameList"><img src="@string.Format("https://steamcdn-a.akamaihd.net/steam/apps/{0}/header.jpg", @game.AppId)" style="height:100px"; width="150px"/></li>
                </ul>
            </div>
        </div>
    }
    </div>
}