@model SteamProject.Models.User
@{
    ViewData["Title"] = "Game Library";
}
@if (Model == null)
{
    <h1>This will be your library page once you sign in with a linked account, and we pull your Steam library.</h1>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div>
                    <img src="@Model.AvatarUrl" style="padding-bottom: 10px; padding-top: 10px"/>
                </div>
            </div>
            <div class="col-sm-6">
                <h1>@Model.SteamName's Steam Library</h1>
                <div>
                    Your full steam profile can be found here: <a href="@Model.ProfileUrl">@Model.SteamName</a><br>
                    <button onclick="showHiddenGamesModal()">Show hidden games</button>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-container">
        @{
            foreach(var game in Model.Games)
            {
                if(game.Hidden == false)
                {
                    <div class="flex-item" id="@game.Name" value="@game.AppId" style="padding: 2px;">
                        <img src="@string.Format("https://steamcdn-a.akamaihd.net/steam/apps/{0}/header.jpg", @game.AppId)" style="height:200px; width=200px"/><br>
                        @{
                            var index = game.Name.IndexOf("'");
                            if(index > -1)
                            {
                                var name = game.Name.Substring(0, index) + "\\" + game.Name.Substring(index);
                                <button onclick="setHiddenGame('@name')">Hide game</button>
                            }
                            else
                            {
                                <button onclick="setHiddenGame('@game.Name')" name=@game.AppId>Hide game</button>
                            }
                        } 
                    </div>
                }
            }
        }
        <div id="hidden-game-modal" class="modal fade">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Hidden Games</h4>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <div class="flex-container">
                            @{
                                var temp = Model.Games.Where(g => g.Hidden == true).ToList();
                                if(temp.Count() > 0)
                                {
                                    foreach(var game in Model.Games)
                                    {
                                        if(game.Hidden)
                                        {
                                        <div class="flex-item" id="@game.Name" value="@game.AppId" style="padding: 2px;">
                                            <img src="@string.Format("https://steamcdn-a.akamaihd.net/steam/apps/{0}/header.jpg", @game.AppId)" style="height:100px; width=120px"/>
                                        </div>
                                        }
                                    } 
                                }
                                else
                                {
                                    <div>You have no hidden games, go hide some! If you just hid a game, try refreshing the page.</div>
                                }
                            }
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
}

@section Scripts
{
    <script type="text/javascript" src="~/js/hideGame.js"></script>
}
