@model SteamProject.Models.User
@{
    ViewData["Title"] = "Game Library";
}
@if (Model == null)
{
    <h1>This will be your library page once you sign in with a linked account, and we pull your Steam library.</h1>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div>
                    <img src="@Model.AvatarUrl" style="padding-bottom: 10px; padding-top: 10px"/>
                </div>
            </div>
            <div class="col-sm-6">
                <h1>@Model.SteamName's Steam Library</h1>
                <div>
                    Your full steam profile can be found here: <a href="@Model.ProfileUrl">@Model.SteamName</a>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-container">
        @{
            foreach(var game in Model.Games)
            {
                if(game.Hidden == false)
                {
                    <div class="flex-item" id="@game.Name" style="padding: 2px;">
                        <img src="@string.Format("https://steamcdn-a.akamaihd.net/steam/apps/{0}/header.jpg", @game.AppId)" style="height:200px; width=200px"/><br>
                        @{
                            var index = game.Name.IndexOf("'");
                            if(index > -1)
                            {
                                var name = game.Name.Substring(0, index) + "\\" + game.Name.Substring(index);
                                <button onclick="hideGame('@name')">Hide game</button>
                            }
                            else
                            {
                                <button onclick="hideGame('@game.Name')">Hide game</button>
                            }
                        } 
                    </div>
                }
            }
        }
    </div>
}

@section Scripts
{
    <script type="text/javascript"  src="@(Url.Content("~/js/main.js"))"></script>
}
