@model List<Dictionary<Game, int>>
@{
    ViewData["Title"] = "Recommended games";
    List<Game> userGames = new List<Game>();
    foreach(var dictionary in Model)
    {
        userGames.Add(dictionary.First().Key);
    }
}

<head>
    <link rel="stylesheet" href="~/css/Library.css">
</head>
<br><br>
@if (Model == null || Model.Count() == 0)
{
    <h1>We don't have any games to recommend!</h1>
    <br>
    <h2>This may be because you own all of the games we have in our database... go touch grass geez.</h2>
}
else
{
        <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div>
                    <br>
                    <img class="user-avatar" id="@Model._user.SteamId" src="@Model._user.AvatarUrl" style="padding-bottom: 10px; padding-top: 10px"/>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <h1>Your recommendations:</h1>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Here you can see the game and all of the genres each one has.</p>
                    </div>
                    <div class="col">
                        <p>Hover over a game to see options such as:</p>
                        <ul>
                            <li>View achievements</li>
                            <li>View more info <i fill="CurrentColor" class="bi bi-info-circle-fill"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    var tenRecommendations = Model.Take(10);
    foreach(var recommendaiton in tenRecommendations)
    {
        <div class="flex-item gameContainer" id="@recommendaiton.First().Key" value="@recommendaiton.First().Key.AppId" data-toggle="tooltip" title="@recommendaiton.First().Key" name=@recommendaiton.First().Key.Id style="padding: 2px; position: relative">
            <button class="achievement-btn" data-toggle="tooltip" title="View Achievements" id="@recommendaiton.First().Key.AppId"></button>
            <img src="@string.Format("https://steamcdn-a.akamaihd.net/steam/apps/{0}/header.jpg", @recommendaiton.First().Key.AppId)" style="height:200px"/><br>
            <a class="btn btn-outline-info show-btn"  title="More Game Info" href='@Url.Action("ShowMoreInfo", "Library", new {appId = recommendaiton.First().Key.AppId})'>
                <i fill="CurrentColor" class="bi bi-info-circle-fill"></i>
            </a>
        </div>
        <br>
    }
}

@section Scripts
{
    <script type="text/javascript" src="~/js/libraryPage.js"></script>
    <script type="text/javascript" src="~/js/followGame.js"></script>
    <script type="text/javascript"  src="@(Url.Content("~/js/search.js"))"></script>
    <script type="text/javascript"  src="@(Url.Content("~/js/achievements.js"))"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
}