@model SteamProject.ViewModels.GameVM;
@{
    ViewData["Title"] = "ShowMoreInfo";
    var pocoData = Model._poco.response.data;
    var gameData = Model._game;
}

<head>
    <link rel="stylesheet" href="~/css/ShowMoreInfo.css">
</head>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3" style="width: 500px">
            <div>
                <img src="@string.Format("https://steamcdn-a.akamaihd.net/steam/apps/{0}/header.jpg", @gameData.AppId)" style="height:200px"/>
            </div>
        </div>
        <div class="col-lg-6" style="padding-top: 40px;">
            <h3 style="text-align: center;">@gameData.Name</h3>
            <p>@pocoData.short_description</p>
        </div>
    </div>
    <br>
    <div class="flex-container">
        <div class="card gameInfoCard">
            <div class="card-body">
                <h5 class="card-title">
                    General Categories
                </h5>
                <div class="scrollable">
                    @{
                        foreach(var cat in pocoData.categories)
                        {
                            <p class="card-text">@cat.description</p>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="card gameInfoCard">
            <div class="card-body">
                <h5 class="card-title">
                    Developers
                </h5>
                <div class="scrollable">
                    @{
                        foreach(var dev in pocoData.developers)
                        {
                            <p class="card-text">@dev</p>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="card gameInfoCard">
            <div class="card-body">
                <h5 class="card-title">
                    Publishers
                </h5>
                <div class="scrollable">
                    @{
                        foreach(var pub in pocoData.publishers)
                        {
                            <p class="card-text">@pub</p>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="card gameInfoCard">
            <div class="card-body">
                <h5 class="card-title">
                    Game Genres
                </h5>
                <div class="scrollable">
                    @{
                        foreach(var genre in pocoData.genres)
                        {
                            <p class="card-text">@genre.description</p>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="card gameInfoCard">
            <div class="card-body">
                <h5 class="card-title">
                    Ratings
                </h5>
                <div class="scrollable">
                    @{
                        if(pocoData.metacritic != null)
                        {
                            <p class="card-text">Metacritic: @pocoData.metacritic.score</p>
                        }
                        else
                        {
                            <p class="card-text">No Metacritic rating available</p>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<div class="col">
    <table class ="table table-sm table-bordered">
        <thead>
            <tr>
                <th style="text-align: center;" colspan="4">Computer Requirements by OS</th>
            </tr>
            <tr>
                <th>Minimum/Recommended</th>
                <th>PC requirements</th>
                <th>Linux requirements</th>
                <th>Mac requirements</th>
            </tr>
        </thead>
        <tbody>
            @{
                <tr>
                    <th>Minimum</th>
                    <td>
                        @pocoData.pc_requirements.minimum
                    </td>
                    <td>
                        @pocoData.linux_requirements.minimum
                    </td>
                    <td>
                        @pocoData.mac_requirements.minimum
                    </td>
                </tr>
                <tr>
                    <th>Recommended</th>
                    <td>
                        @pocoData.pc_requirements.recommended
                    </td>
                    <td>
                        @pocoData.linux_requirements.recommended
                    </td>
                    <td>
                        @pocoData.mac_requirements.recommended
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>