@model SteamProject.ViewModels.GameVM;
@{
    ViewData["Title"] = "ShowMoreInfo";
    var pocoData = Model._poco.response.data;
    var gameData = Model._game;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3" style="width: 500px">
            <div>
                <img src="@string.Format("https://steamcdn-a.akamaihd.net/steam/apps/{0}/header.jpg", @gameData.AppId)" style="height:200px"/>
            </div>
        </div>
        <div class="col-lg-6" style="padding-top: 40px;">
            <p>@pocoData.short_description</p>
        </div>
    </div>
    <div class="row">
        <table id="generalInfoTable" class="table table-striped">
            <tr>
                <th>General Categories:</th>
                @{
                    foreach(var cat in pocoData.categories)
                    {
                        <td>@cat.description</td>
                    }
                }
            </tr>
            <tr>
                <th>Developers:</th>
                @{
                    foreach(var dev in pocoData.developers)
                    {
                        <td>@dev</td>
                    }
                }
            </tr>
            <tr>
                <th>Publishers:</th>
                @{
                    foreach(var pub in pocoData.publishers)
                    {
                        <td>@pub</td>
                    }
                }
            </tr>
            <tr>
                <th>Game Genres:</th>
                @{
                    foreach(var genre in pocoData.genres)
                    {
                        <td>@genre.description</td>
                    }
                }
            </tr>
            <tr>
                <th>Ratings:</th>
                @{
                    if(pocoData.metacritic != null)
                    {
                        <td>Metacritic: @pocoData.metacritic.score</td>
                    }
                    else
                    {
                        <td>No Metacritic rating available</td>
                    }
                }
            </tr>
        </table>
    </div>
</div>

<p>These are the PC requirements</p>
@{
    <div>@pocoData.pc_requirements.minimum</div>
}

<p>These are the Linux requirements</p>
@{
    <div>@pocoData.linux_requirements.minimum</div>
}

<p>These are the Mac requirements</p>
@{
    <div>@pocoData.mac_requirements.minimum</div>
}