@model SteamProject.ViewModels.CompeteDetailsVM
@{
    ViewData["Title"] = "Game Library";
}

<head>
    <link rel="stylesheet" href="~/css/Compete.css">
</head>


@if( Model is null )
{
    <p> Failed to pull information from the database. If you're positive the selected competition exists, please try again momentarily. </p>
}
else 
{
    <div class="row" style="width: 100%; padding-top: 5%;">
        <div class="col-sm-6" style="width: 50%;">
            <img src="@string.Format("https://steamcdn-a.akamaihd.net/steam/apps/{0}/header.jpg", @Model.CurrentComp.Game.AppId)" style="height:215px;" alt="@string.Format("{0}", @Model.CurrentComp.Game.Name)">
        </div>
        <div class="col-sm-6" style="width: 50%;">
            <h1 style=""> Competition in @Model.CurrentComp.Game.Name </h1>

            <br>
            <div>
                Players in competition:
                <div class="row" style="align-content: center;">
                    <div class="col-sm-12" style="margin: auto; width: auto;">
                        @foreach( var player in Model.Players )
                        {
                            <div class="card">
                                <img class="card-img-top" src="@player.AvatarUrl" style="height:215px;" alt="@player.SteamName">
                                <div class="card-body">
                                    <i> @player.SteamName </i>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>


    
}


