@model SteamProject.ViewModels.CompeteDetailsVM
@{
    ViewData["Title"] = "Game Library";
}

<head>
    <link rel="stylesheet" href="~/css/Compete.css">
</head>


@if( Model is null )
{
    <p> Failed to pull information from the database. If you're positive the selected competition exists, please try again momentarily. </p>
}
else 
{

    <div class="row" style="width: 100%; padding-top: 5%;">
        <div class="col-sm-6" style="width: 50%;">
            <div class="currentApp" id=@Model.CurrentComp.Game.AppId hidden></div>
            <div class="currentUserId" id=@Model.CurrentUserId hidden></div>

            <div class="image-container">
                <a class="btn btn-info back-btn" title="Back to Dashboard" href='@Url.Action("Dashboard", "Home")'>
                    <i fill="CurrentColor" class="bi bi-arrow-left">Back to Dashboard</i>
                </a>
                <img class="gameImage" src="@string.Format("https://steamcdn-a.akamaihd.net/steam/apps/{0}/capsule_616x353.jpg", @Model.CurrentComp.Game.AppId)" alt="@string.Format("{0}", @Model.CurrentComp.Game.Name)"/>
            </div>

            <br>
            <div>
                Competing for these acheivements:

                <div class="row" style="align-items: center; padding-bottom: 3%;">
                    @foreach ( var achievement in Model.GameAchList )
                    {
                        <div class="col-md-2" style="width: 160px; margin: auto;">

                            <br>

                            <div class="achievementDiv">
                                <div class="card achievementCard" style="word-wrap: normal; display:flex;">
                                    <img class="flare" src="~/assets/flare.png" style="display:none;" alt="">
                                    <img class="card-img-top" src="@achievement.IconAchievedUrl" style="width: 90%; height: 90%; align-self: center; margin-top:5px;">
                                    <div class="card-body">
                                        <p class="card-title" style="color: white;">@achievement.DisplayName</p>
                                        <p class="ach-value"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="width: 50%;">
            <h1> Competition in @Model.CurrentComp.Game.Name </h1>
            <p> From @Model.CurrentComp.StartDate - @Model.CurrentComp.EndDate </p>

            @if( Model.SinId == Model.CurrentComp.CreatorId )
            {
                <div id="compDeleteBtnDiv">
                    <button id="compDeleteBtn" value=@Model.CurrentComp.Id> DELETE THIS COMPETITION </button>
                </div>
            }
            @if (Model.HasCompetitionEnded)
            {
                <div id="voteAgainDiv">
                    <button id="voteAgainBtn" value="@Model.CurrentComp.Id">VOTE TO COMPETE AGAIN</button>
                </div>
            }


            <br>
            <div>
                <i> Competitors: </i>
                
                <div class="row" style="align-content: center; padding-top: 3%;">
                    @foreach( var player in Model.Players )
                    {
                        @if(    DateTime.Compare( Model.CurrentComp.EndDate, DateTime.Now ) <= 0
                        &&      player == Model.Scoreboard[0].Key
                        )
                        {
                            <div class="col-sm-2" style="margin: auto; width: auto;">
                                <div class="card winnerCard" >
                                    <img class="card-img-top" src="@player.AvatarUrl" style="height:215px;" alt="@player.SteamName">
                                    <div class="card-body">
                                        <i class="card-title" > @player.SteamName </i>
                                    </div>
                                </div>
                            </div>
                            
                        }
                        else if(    DateTime.Compare( Model.CurrentComp.EndDate, DateTime.Now ) <= 0
                        &&      player == Model.Scoreboard[1].Key
                        &&      Model.Scoreboard.Count() > 2
                        )
                        {
                            <div class="col-sm-2" style="margin: auto; width: auto;">
                                <div class="card secondCard" >
                                    <img class="card-img-top" src="@player.AvatarUrl" style="height:215px;" alt="@player.SteamName">
                                    <div class="card-body">
                                        <i class="card-title" > @player.SteamName </i>
                                    </div>
                                </div>
                            </div>
                        }
                        else if(    DateTime.Compare( Model.CurrentComp.EndDate, DateTime.Now ) <= 0
                        &&      Model.Scoreboard.Count() > 3
                        &&      player == Model.Scoreboard[2].Key
                        )
                        {
                            <div class="col-sm-2" style="margin: auto; width: auto;">
                                <div class="card thirdCard" >
                                    <img class="card-img-top" src="@player.AvatarUrl" style="height:215px;" alt="@player.SteamName">
                                    <div class="card-body">
                                        <i class="card-title" > @player.SteamName </i>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-2" style="margin: auto; width: auto;">
                                <div class="card" >
                                    <img class="card-img-top" src="@player.AvatarUrl" style="height:215px;" alt="@player.SteamName">
                                    <div class="card-body">
                                        <i class="card-title" > @player.SteamName </i>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

            @* List from mattc0m https://codepen.io/mattc0m/pen/rNdMjKX *@
            <div style="display: flex; flex-direction: column;">
                <div id="CompletionHistory" > 
                    <strong> Leaderboard </strong>
                    <ol>
                        @foreach( var score in Model.Scoreboard )
                        {
                            <li style="padding-bottom: 2%;"> <strong> @score.Key.SteamName: </Strong> <i> @score.Value.Score points </i> </li>
                        }
                    </ol>
                </div>
                <div id="CompletionHistory" > 
                    <strong> History </strong>
                    <ol>
                        @foreach( var completion in Model.Tracking )
                        {
                            <li style="padding-bottom: 2%;"> <strong>@completion.Value.SteamName</strong> completed <strong>@completion.Key.Achievement.DisplayName</strong> with timestamp <strong>@completion.Key.UnlockTime!</strong> </li>
                        }
                    </ol>
                </div>
            </div>
            
        </div>

    </div>


    
}


@section Scripts
{
    <script type="text/javascript" src="~/js/achValues.js"></script>
    <script type="text/javascript" src="~/js/competeDetails.js"></script>
}
