@model SteamProject.ViewModels.CompeteVM
@{
    ViewData["Title"] = "Game Library";
}


<div style="align-content: center; text-align: center; width: 100%; ">
    <h1> Competition Initiation </h1>
    <div class="row">
        <div class="col-md-6">
            @foreach( var ach in Model.UsersAchievements )
            {
                <div>
                    <ul>
                        @ach.Achievement.DisplayName
                        <li>
                            @ach.Achieved
                        </li>
                        <li>
                            @ach.UnlockTime
                        </li>
                    </ul>
                </div>
            }
        </div>
        <div class="col-md-6">
            @foreach( var ach in Model.FriendsAchievements )
            {
                <div>
                    <ul>
                        @ach.Achievement.DisplayName
                        <li>
                            @ach.Achieved
                        </li>
                        <li>
                            @ach.UnlockTime
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>
</div>
