@model SteamProject.ViewModels.CompeteIndexVM
@{
    ViewData["Title"] = "My Competitions";
}

<head>
    <link rel="stylesheet" href="~/css/Compete.css">
</head>


<div style="align-items: center; padding-left: 2.5%;">
    <h1 style="padding-top: 5%;"> YOUR COMPETITIONS: </h1>

    <div class="row" style="padding-top: 5%;">
        @if (Model.Competitions != null)
        {
            @foreach (var competition in Model.Competitions)
            {
                <div class="col-md-4 competitionCol" >
                    <div class="competitionDiv" id=@competition.Id >
                        <div class="card competitionCard" >
                            <img class="card-img-top" src="@string.Format("https://steamcdn-a.akamaihd.net/steam/apps/{0}/header.jpg", @competition.Game.AppId)" style="height:215px;" alt="@string.Format("{0}", @competition.Game.Name)">
                            <div class="card-body">
                                <p class="card-title" style="overflow: hidden; white-space: nowrap; color: Black"> @competition.Game.Name </p>
                                <p> Start: @competition.StartDate </p>
                                <p> End: @competition.EndDate </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="~/js/competeIndexPage.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
}