@model SteamProject.ViewModels.CompeteIndexVM
@{
    ViewData["Title"] = "My Competitions";
}

<head>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" 
    />
    <link rel="stylesheet" href="~/css/Compete.css">
    
</head>


<div style="align-items: center; padding-left: 2.5%;">
    <h1 style="padding-top: 5%;"> YOUR COMPETITIONS: </h1>

    <div class="row" style="padding-top: 0%;">
        <h1> Running </h1>
        @if (Model.Competitions != null)
        {
            @foreach (var competition in Model.CompsRunning)
            {
                <div class="col-md-4 competitionCol" >
                    <div class="competitionDiv" id=@competition.Id >
                        <div class="card competitionCard" >
                            <img class="card-img-top" src="@string.Format("https://steamcdn-a.akamaihd.net/steam/apps/{0}/header.jpg", @competition.Game.AppId)" style="height:215px;" alt="@string.Format("{0}", @competition.Game.Name)">
                            <div class="card-body">
                                <p class="card-title" style="overflow: hidden; white-space: nowrap; color: Black"> @competition.Game.Name </p>
                                <p style="color: Black"> Start: @competition.StartDate </p>
                                <p style="color: Black"> End: @competition.EndDate </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="row" style="padding-top: 2.5%;">
        <h1> Complete </h1>
        @if (Model.Competitions != null)
        {
            @foreach (var competition in Model.CompsComplete)
            {
                <div class="col-md-4 competitionCol" >
                    <div class="competitionDiv" id=@competition.Id >
                        <div class="card competitionCard" >
                            <img class="card-img-top" src="@string.Format("https://steamcdn-a.akamaihd.net/steam/apps/{0}/header.jpg", @competition.Game.AppId)" style="height:215px;" alt="@string.Format("{0}", @competition.Game.Name)">
                            <div class="card-body">
                                <p class="card-title" style="overflow: hidden; white-space: nowrap; color: Black"> @competition.Game.Name </p>
                                <p style="color: Black"> Start: @competition.StartDate </p>
                                <p style="color: Black"> End: @competition.EndDate </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <a href="/Compete/Create" id="compCreateLink" class="float">
        <i class="fa fa-plus my-float"></i> 
    </a>
    <p class="comp-Text">Achievement Battle</p>
    <a href="/Compete/CreateSpeedRun" id="speedRunCreateLink" class="float-speed-run">
        <i class="fa fa-plus my-float"></i> 
    </a>
    <p class="speed-Text">Speed Run Challenge</p>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="~/js/competeIndexPage.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
}