@model SteamProject.ViewModels.CompeteDetailsVM
@{
    ViewData["Title"] = "Speed Run";
}

<head>
    <link rel="stylesheet" href="~/css/Compete.css">
</head>

@if( Model is null )
{
    <p> Failed to pull information from the database. If you're positive the selected competition exists, please try again momentarily. </p>
}
else 
{

    <div class="row" style="width: 100%; padding-top: 5%;">
        <div class="col-sm-6" style="width: 50%;">
            <div class="currentApp" id=@Model.CurrentComp.Game.AppId hidden></div>
            <div class="currentUserId" id=@Model.CurrentUserId hidden></div>

            <div class="image-container">
                <a class="btn btn-info back-btn" title="Back to Dashboard" href='@Url.Action("Dashboard", "Home")'>
                    <i fill="CurrentColor" class="bi bi-arrow-left">Back to Dashboard</i>
                </a>
                <img class="gameImage" src="@string.Format("https://steamcdn-a.akamaihd.net/steam/apps/{0}/capsule_616x353.jpg", @Model.CurrentComp.Game.AppId)" alt="@string.Format("{0}", @Model.CurrentComp.Game.Name)"/>
            </div>

            <br>
            <div id="runSubmissionBtnDiv">
                <button id="submitSpeedRunBtn" value=@Model.CurrentComp.Id>Submit a run.</button>
            </div>
            @* List from mattc0m https://codepen.io/mattc0m/pen/rNdMjKX *@
            <div style="display: flex; flex-direction: column;">
                <div id="CompletionHistory" > 
                    <strong> <p>Leaderboard</p> </strong>
                    <ol>
                    </ol>
                </div>
                <div id="CompletionHistory" > 
                    <strong> <p>History</p> </strong>
                    <ol>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="width: 50%;">
            <h1> Competition in @Model.CurrentComp.Game.Name </h1>
            <p> From @Model.CurrentComp.StartDate - @Model.CurrentComp.EndDate </p>

            @if( Model.SinId == Model.CurrentComp.CreatorId )
            {
                <div id="compDeleteBtnDiv">
                    <button id="compDeleteBtn" value=@Model.CurrentComp.Id> DELETE THIS COMPETITION </button>
                </div>
            }
            @if (Model.HasCompetitionEnded)
            {
                <div id="voteAgainDiv">
                    <button id="voteAgainBtn" value="@Model.CurrentComp.Id">VOTE TO COMPETE AGAIN</button>
                </div>
            }
            <br>
            <div>
                <i> <p>Competitors: </p></i>
                
                <div class="row" style="align-content: center; padding-top: 3%;">
                    @foreach( var player in Model.Players )
                    {
                        @if(DateTime.Compare( Model.CurrentComp.EndDate, DateTime.Now ) <= 0)
                        {
                            <div class="col-sm-2" style="margin: auto; width: auto;">
                                <div class="card winnerCard" >
                                    <img class="card-img-top" src="@player.AvatarUrl" style="height:215px;" alt="@player.SteamName">
                                    <div class="card-body">
                                        <i class="card-title" > @player.SteamName </i>
                                    </div>
                                </div>
                            </div>
                        }
                        else if(    DateTime.Compare( Model.CurrentComp.EndDate, DateTime.Now ) <= 0
                        &&      Model.Scoreboard.Count() > 2)
                        {
                            <div class="col-sm-2" style="margin: auto; width: auto;">
                                <div class="card secondCard" >
                                    <img class="card-img-top" src="@player.AvatarUrl" style="height:215px;" alt="@player.SteamName">
                                    <div class="card-body">
                                        <i class="card-title" > @player.SteamName </i>
                                    </div>
                                </div>
                            </div>
                        }
                        else if(    DateTime.Compare( Model.CurrentComp.EndDate, DateTime.Now ) <= 0
                        &&      Model.Scoreboard.Count() > 3)
                        {
                            <div class="col-sm-2" style="margin: auto; width: auto;">
                                <div class="card thirdCard" >
                                    <img class="card-img-top" src="@player.AvatarUrl" style="height:215px;" alt="@player.SteamName">
                                    <div class="card-body">
                                        <i class="card-title" > @player.SteamName </i>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-2" style="margin: auto; width: auto;">
                                <div class="card" >
                                    <img class="card-img-top" src="@player.AvatarUrl" style="height:215px;" alt="@player.SteamName">
                                    <div class="card-body">
                                        <i class="card-title" > @player.SteamName </i>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}

@section Scripts
{
    <script type="text/javascript" src="~/js/achValues.js"></script>
    <script type="text/javascript" src="~/js/competeDetails.js"></script>
}
