
@model List<Game>
@{
    ViewData["Title"] = "Friend's Page";
}



<div class="text-center">
    This page will be the home for your friend's information and will provide you with their current activity and a list of the games you both share.
    
</div>

<div class="row" style="align-items: center;">
    @foreach (var game in Model)
    {
        
        <div class="col-md-4" style="margin:auto;">

            <br>

            <div class="card friendCard" style="width: 18rem; margin: auto; background-image: linear-gradient(to bottom right, rgb(26, 28, 76), rgb(59, 52, 80), rgb(26, 28, 76)); ">
                <img class="card-img-top" src="@string.Format("https://steamcdn-a.akamaihd.net/steam/apps/{0}/header.jpg", @game.AppId)" style="height:200px; width=200px" alt="@string.Format("{0}", @game.Name)">
                <div class="card-body">
                    <p class="card-title" style="overflow: hidden; white-space: nowrap;">@game.Name</p>
                </div>
            </div>


        </div>

    }
</div>

