
@model SteamProject.Models.ViewModels.FriendsVM

@{
    ViewData["Title"] = "Friend's Page";
}

<input type="hidden" id="SteamId" name="SteamId" value="@Model.SteamId">
<input type="hidden" id="FriendSteamId" name="FriendSteamId" value="@Model.Friend.SteamId">
<input type="hidden" id="Id" name="Id" value="@Model.Id">


<div class="text-center">
    <h1> @Model.Friend.SteamName </h1>
    <h3 id="friendPageStatus"> </h3>
</div>

<div class="row" style="align-items: center;">
    @foreach (var game in Model.SharedGames)
    {
        
        <div class="col-md-4" style="margin:auto;">

            <br>

            <div class="card friendCard" style="width: 18rem; margin: auto; background-image: linear-gradient(to bottom right, rgb(26, 28, 76), rgb(59, 52, 80), rgb(26, 28, 76)); ">
                <img class="card-img-top" src="@string.Format("https://steamcdn-a.akamaihd.net/steam/apps/{0}/header.jpg", @game.AppId)" style="height:200px; width=200px" alt="@string.Format("{0}", @game.Name)">
                <div class="card-body">
                    <p class="card-title" style="overflow: hidden; white-space: nowrap;">@game.Name</p>
                </div>
            </div>


        </div>

    }
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="~/js/friendPage.js"></script>
}