@page
@model ExternalLoginsModel
@{
    ViewData["Title"] = "Manage your external logins";
    ViewData["ActivePage"] = ManageNavPages.ExternalLogins;
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/Identity.css" asp-append-version="true">
</head>

<partial name="_StatusMessage" for="StatusMessage" />
@if (Model.CurrentLogins?.Count > 0)
{
    <h3>Steam Account Access</h3>
    <table class="table">
        <tbody>
            @foreach (var login in Model.CurrentLogins)
            {
                <tr>
                    <td id="@($"login-provider-{login.LoginProvider}")">@login.ProviderDisplayName ID</td>
                    <td id="@($"login-provider-{login.LoginProvider}")">@login.ProviderKey</td>
                    <td>
                        @if (Model.ShowRemoveButton)
                        {
                            <form id="@($"remove-login-{login.LoginProvider}")" asp-page-handler="RemoveLogin" method="post">
                                <div>
                                    <input asp-for="@login.LoginProvider" name="LoginProvider" type="hidden" />
                                    <input asp-for="@login.ProviderKey" name="ProviderKey" type="hidden" />
                                    <button id="removeButton" type="submit" class="btn btn-primary" title="Remove this @login.ProviderDisplayName login from your account">Remove <i class="bi bi-steam" style="font-size: 1.2rem;"></i></button>
                                </div>
                            </form>
                        }
                        else
                        {
                            @: &nbsp;
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (Model.OtherLogins?.Count > 0)
{
    <h4>Please Link Your Steam Account.</h4>
    <hr />
    <form id="link-login-form" asp-page-handler="LinkLogin" method="post" class="form-horizontal">
        <div id="socialLoginList">
            <p>
                @foreach (var provider in Model.OtherLogins)
                {
                    <button id="@($"link-login-button-{provider.Name}")" type="submit" class="btn mx-auto" name="provider" value="@provider.Name" style="color: aqua" title="Log in using your @provider.DisplayName account"><img src="https://community.cloudflare.steamstatic.com/public/images/signinthroughsteam/sits_01.png"/></button>
                }
            </p>
        </div>
    </form>
}
