@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>

<br>
<input type="hidden" id="SteamId" name="SteamId" value="@Model.SteamId">
<input type="hidden" id="Id" name="Id" value="@Model.Id">

@* DISPLAY USER INFORMATION FROM STEAM *@
@if(Model.SteamName != "" && Model.SteamName != null)
{
    <div class="row">
        <div class="col-sm-4" id="divSteamAvatar" style="text-align: center;">
            <img src="@Model.SteamAvatar">
        </div>
        <div class="col-sm-8" style="position: relative;">
            <div id="divSteamNameLevel" style="margin: 0; position: absolute; top: 50%; transform: translateY(-50%);">
                <h1> @Model.SteamName @Model.SteamLevel </h1>
            </div>
        </div>
    </div>
}

<br>

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row" style="height: 35%; width: 80%; overflow-y: hidden; position: fixed;">
    <div class="col-md-6" style="width: 30%;">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number."/>
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
    @if(Model.SteamName != "" && Model.SteamName != null)
    {
        <div class="col-md-6" id="friendsListDiv" style="height: 70%; overflow-y: scroll;">
            <table id="friendsListTable" >
                @foreach( var friend in Model.Friends )
                {
                    <tr class="FriendEntry">
                        <td> <img src=@friend.AvatarUrl> </td>
                        <td> @friend.SteamName </td>
                        <td class="FriendStateTd"> <i> @Model.States[friend.PersonaState ?? 0] </i> </td>
                        <td class="FriendGame"> @friend.GameExtraInfo </td>
                    </tr>
                }
            </table>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script> console.log( "Hello World!\n" ) </script>
    <script type="text/javascript" src="~/js/ProfileIndex.js"></script>
}
