@model SteamProject.ViewModels.UserDashboardVM
@{
    ViewData["Title"] = "Dashboard";
}

<head>
    <link rel="stylesheet" href="~/css/Library.css">
</head>

@if (Model == null)
{
    <h1>This will be your Dashboard page once you sign in with a linked account, and we pull your Steam library.</h1>
}
else
{
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div>
                        <img class="user-avatar" id="@Model._user.SteamId" src="@Model._user.AvatarUrl" style="padding-bottom: 10px; padding-top: 10px"/>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h1>@Model._user.SteamName</h1>
                    <h2>Level @Model._user.PlayerLevel</h2>
                </div>
                <div class="col-lg-5">
                    <h1></h1>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button onclick="showFollowedGamesModal()">Manage Followed Games</button>
    <br />
    
    <h3>Recently Played Games</h3>
    <div id="recentGamesCarousel" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#recentGamesCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#recentGamesCarousel" data-slide-to="1"></li>
            <li data-target="#recentGamesCarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner" style="width: 616px; height: 353px;">
            @{
                foreach(var game in Model._games)
                {
                    <div class="carousel-item">
                        <img class="d-block" src="@string.Format("https://steamcdn-a.akamaihd.net/steam/apps/{0}/capsule_616x353.jpg", @game.AppId)" style="height: 616px; width: 353px;">
                    </div>
                }
            }
        </div>

        <a class="carousel-control-prev" href="#recentGamesCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#recentGamesCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>

    <div class="container-fluid">
        <h3>Your News</h3>
        <div class="row">
            <div class="col-md-4">

            </div>
        </div>
    </div>

    <div class="container-fluid">
        <h3>Your Race Results</h3>
        <div class="row">
            <div class="col-md-4">

            </div>
        </div>
    </div>

}
@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
}
