@model SteamProject.ViewModels.GameNewsVM;
@{
    ViewData["Title"] = "ShowMoreInfo";
    var pocoData = Model._poco.appnews;
    var gameData = Model._game;
}

<head>
    <link rel="stylesheet" href="~/css/ShowMoreNews.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<div class="container-fluid">
    <a class="btn btn-outline-info show-btn"  title="Back to Dashboard" href='@Url.Action("Dashboard", "Home")'>
        <i fill="CurrentColor" class="bi bi-arrow-left"></i>
    </a>
    <div class="row">
        <div class="container" style="width: 500px">
            <div>
                <img src="@string.Format("https://steamcdn-a.akamaihd.net/steam/apps/{0}/header.jpg", @gameData.AppId)" style="height: 200px"/>
            </div>
        </div>

        <div class="container-fluid" style="padding-top: 40px; white-space: pre-wrap; justify-content: center;">
            <h3 style="text-align: center;">@gameData.Name</h3>

            @foreach (var item in Model._poco.appnews.newsitems)
            {
                <hr>
                    <div class="newsDiv row container-fluid mx-auto">
                        <div class="col-2">
                            <p>@item.feedlabel</p>
                        </div>
                        <div class="col-8">
                            <p style="text-align: center">@item.title</p>
                        </div>
                        <div class="col-2">
                            <a href="@item.url">Link to Article</a>
                        </div>

                        <p>@item.contents</p>
                        <h6 style="text-align: center">@item.dateTime</h6>
                    </div>
          
            }
        </div>
    </div>
    <br>
</div>