@model SteamProject.ViewModels.GameNewsVM;
@{
    ViewData["Title"] = "ShowMoreInfo";
    int itemCount = 0;
}

<head>
    <link rel="stylesheet" href="~/css/ShowMoreNews.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/News/summarizeSpecificNews.js"></script>
</head>

<div class="container-fluid">
    <a class="btn btn-outline-info show-btn" title="Back to Dashboard" href='@Url.Action("Dashboard", "Home")'>
        <i fill="CurrentColor" class="bi bi-arrow-left"></i>
    </a>

    @if (Model != null && Model._poco != null)
    {
        <div class="row">
            <div class="container" style="width: 500px">
                <div>
                    <img id="gameImage" src="@string.Format("https://steamcdn-a.akamaihd.net/steam/apps/{0}/header.jpg", @Model._game.AppId)" style="height: 200px" />
                </div>
            </div>

            @if (Model._poco.appnews.count > 0)
            {
                <div class="container-fluid" style="padding-top: 40px; white-space: pre-wrap; justify-content: center;">
                    <h3 style="text-align: center;">@Model._game.Name</h3>

                    @foreach (var item in Model._poco.appnews.newsitems)
                    {
                        <hr>
                        <div class="newsDiv row container-fluid mx-auto">
                            <div class="col-2">
                                <p>@item.feedlabel</p>
                            </div>
                            <div class="col-8">
                                <h3 style="text-align: center">@item.title</h3>
                            </div>
                            <div class="col-2">
                                <a href="@item.url">Link to Article</a>
                                <button class="summarize-btn" data-appid="@Model._game.AppId" data-newsindex="@itemCount">Summarize</button>
                            </div>

                            <p data-original-content="@item.contents">@item.contents</p>
                            <h6 style="text-align: center">@item.dateTime</h6>
                        </div>
                        itemCount++;
                    }
                </div>
            }
            else
            {
                <h3>There is no news to be displayed for this game, Please try another game or try again later</h3>
            }

        </div>
    }
    else
    {
        <h3>There was no valid game found for this AppId</h3>
    }

    <br>
</div>
