@model SteamProject.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SteamId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SteamId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AspNetUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AspNetUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SteamName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SteamName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfileUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvatarUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvatarUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonaState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonaState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerLevel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
